html,
body
{
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
    font-size: 12px;

    height: 100%;

    color: #222;
    background: #fff;
}
body
{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;

    -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
}
.text-center
{
    text-align: center;
}
.container
{
    width: 100%;
}
/* 加载动画 */
.loading
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity 1s 4s;
            transition: opacity 1s 4s;

    opacity: 1;
    background: #000;
}
.loaded
{
    opacity: 0;
}
.loading-wrap
{
    position: relative;

    width: 50px;
    height: 50%;
    margin: 0 auto;

    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: light 2s ease-in-out infinite alternate;
            animation: light 2s ease-in-out infinite alternate;
}
.line
{
    width: 2px;
    height: 100%;
    margin: 0 auto;

    background: #fff;
}
.light
{
    width: 50px;
    height: 50px;
}
.bulbs
{
    position: relative;

    width: 50px;
    height: 50px;
    margin-top: 15px;

    -webkit-animation: shadow 2s infinite alternate;
            animation: shadow 2s infinite alternate;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background: #fff46e;
    background: -webkit-radial-gradient(circle, #fff, #fff46e);
    background:         radial-gradient(circle, #fff, #fff46e);
    box-shadow: 0 0 100px #fff582;
}
.bulbs:before
{
    position: absolute;
    top: -15px;
    left: 50%;

    display: block;

    width: 20px;
    height: 15px;
    margin-left: -10px;

    content: '';

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #6f6f6f;
}
.loading-text
{
    font-size: 24px;

    margin-top: 100px;

    -webkit-animation: text 2s infinite alternate;
            animation: text 2s infinite alternate;
    text-align: center;
}
/* 第一页 */
.section-pageone
{
    position: relative;

    overflow: hidden;

    height: 100%;
    max-height: 100%;

    background: #8ffdff;
    background: -webkit-linear-gradient(250deg, #8ffdff, #ffec9b);
    background:         linear-gradient(200deg, #8ffdff, #ffec9b);
}
.header,
.name,
.job
{
    position: absolute;
}
.header
{
    z-index: 99;
    top: 25%;
    left: 0;

    width: 100%;
}
.isme
{
    width: 30%;
    padding: 2px;

    border: 1px solid #47c6bc;
    border-radius: 50%;
    box-shadow: 0 0 10px #00abff;
}
.name p,
.job p
{
    margin: 0;
    padding: 0;
}
.name
{
    font-size: 20px;
    line-height: 70px;

    top: 50%;
    left: 20%;

    width: 70px;
    height: 70px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #97c4f9;
}
.job
{
    font-size: 20px;
    line-height: 90px;

    top: 50%;
    right: 20%;

    width: 90px;
    height: 90px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: rgba(255, 98, 194, .7);
}
.pageone-ani .isme{
	-webkit-animation: header 1.5s ease-in-out;
            animation: header 1.5s ease-in-out;
}
.pageone-ani .header
{
    -webkit-animation: header 1.5s ease-in-out;
            animation: header 1.5s ease-in-out;
}
.pageone-ani .name
{
    -webkit-animation: name 1.6s ease-in-out ;
            animation: name 1.6s ease-in-out ;
}
.pageone-ani .job
{
    -webkit-animation: job 1.7s ease-in-out;
            animation: job 1.7s ease-in-out;
}

.next-pagetwo{
	width: 50px;
	height: 28px;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;
}
.next-pagetwo span{
	display: block;
	width: 50px;
	height: 14px;
	position: relative;
}
.next-pagetwo span:before,
.next-pagetwo span:after{
	content: '';
	display: block;
	width: 15px;
	height: 3px;
	background: #6ae2ff;
	position: absolute;
	top: 2px;
}
.next-pagetwo span:before{
	left:12px;
	transform: rotateZ(30deg);
}
.next-pagetwo span:after{
	right: 12px;
	transform: rotateZ(-30deg);
}
.pageone-ani .next-pagetwo{
	-webkit-animation: nextpagetwo 1s ease-in-out infinite alternate;
            animation: nextpagetwo 1s ease-in-out infinite alternate;
}
/* @keyframes */
@-webkit-keyframes light
{
    0%
    {
        -webkit-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }
    100%
    {
        -webkit-transform: rotateZ(-30deg);
                transform: rotateZ(-30deg);
    }
}
@keyframes light
{
    0%
    {
        -webkit-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }
    100%
    {
        -webkit-transform: rotateZ(-30deg);
                transform: rotateZ(-30deg);
    }
}
@-webkit-keyframes text
{
    0%,
    30%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    70%,
    100%
    {
        opacity: 0;
    }
}
@keyframes text
{
    0%,
    30%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    70%,
    100%
    {
        opacity: 0;
    }
}
@-webkit-keyframes shadow
{
    0%
    {
        box-shadow: 0 0 60px #fff582;
    }
    50%
    {
        box-shadow: 0 0 100px #fff582;
    }
    100%
    {
        box-shadow: 0 0 60px #fff582;
    }
}
@keyframes shadow
{
    0%
    {
        box-shadow: 0 0 60px #fff582;
    }
    50%
    {
        box-shadow: 0 0 100px #fff582;
    }
    100%
    {
        box-shadow: 0 0 60px #fff582;
    }
}
@-webkit-keyframes isme
{
    0%
    {
        box-shadow: 0 0 10px #00abff;
    }
    50%
    {
        box-shadow: 0 0 20px #00abff;
    }
    100%
    {
        box-shadow: 0 0 10px #00abff;
    }
}
@keyframes isme
{
    0%
    {
        box-shadow: 0 0 10px #00abff;
    }
    50%
    {
        box-shadow: 0 0 20px #00abff;
    }
    100%
    {
        box-shadow: 0 0 10px #00abff;
    }
}

@-webkit-keyframes header
{
    0%
    {
        top: 120%;
    }
    80%
    {
        top: 20%;
    }
    100%
    {
        top: 25%;
    }
}

@keyframes header
{
    0%
    {
        top: 120%;
    }
    80%
    {
        top: 20%;
    }
    100%
    {
        top: 25%;
    }
}
@-webkit-keyframes name
{
    0%
    {
        top: 120%;
    }
    80%
    {
        top: 45%;
    }
    100%
    {
        top: 50%;
    }
}
@keyframes name
{
    0%
    {
        top: 120%;
    }
    80%
    {
        top: 45%;
    }
    100%
    {
        top: 50%;
    }
}
@-webkit-keyframes job
{
    0%
    {
        top: 120%;
    }
    70%
    {
        top: 45%;
    }
    100%
    {
        top: 50%;
    }
}
@keyframes job
{
    0%
    {
        top: 120%;
    }
    70%
    {
        top: 45%;
    }
    100%
    {
        top: 50%;
    }
}
@-webkit-keyframes nextpagetwo
{
    0%
    {
        bottom: 7%;
    }
    100%
    {
        bottom: 9%;
    }
}
@keyframes nextpagetwo
{
    0%
    {
        bottom: 7%;
    }
    100%
    {
        bottom: 9%;
    }
}
