html,
body
{
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
    font-size: 12px;

    overflow: hidden;

    height: 100%;

    color: #222;
    background: #fff;
}
body
{
    min-width: 300px;
    max-width: 640px;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;

    -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
}
/* iconfont */
ul
{
    padding-left: 0;

    list-style: none;
}
.text-center
{
    text-align: center;
}
.container
{
    width: 100%;
    height: 100%;
    min-height: 100%;

    -webkit-transition: -webkit-transform 1s cubic-bezier(.65, .05, .36, 1);
            transition: -webkit-transform 1s cubic-bezier(.65, .05, .36, 1);
            transition:         transform 1s cubic-bezier(.65, .05, .36, 1);
            transition:         transform 1s cubic-bezier(.65, .05, .36, 1), -webkit-transform 1s cubic-bezier(.65, .05, .36, 1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
/* 加载动画 */
.loading
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity 1s 4s;
            transition: opacity 1s 4s;

    opacity: 1;
    background: #000;
}
.loaded
{
    opacity: 0;
}
.loading-wrap
{
    position: relative;

    width: 50px;
    height: 50%;
    margin: 0 auto;

    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: light 2s ease-in-out infinite alternate;
            animation: light 2s ease-in-out infinite alternate;
}
.line
{
    width: 2px;
    height: 100%;
    margin: 0 auto;

    background: #fff;
}
.light
{
    width: 50px;
    height: 50px;
}
.bulbs
{
    position: relative;

    width: 50px;
    height: 50px;
    margin-top: 15px;

    -webkit-animation: shadow 2s infinite alternate;
            animation: shadow 2s infinite alternate;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background: #fff46e;
    background: -webkit-radial-gradient(circle, #fff, #fff46e);
    background:         radial-gradient(circle, #fff, #fff46e);
    box-shadow: 0 0 100px #fff582;
}
.bulbs:before
{
    position: absolute;
    top: -15px;
    left: 50%;

    display: block;

    width: 20px;
    height: 15px;
    margin-left: -10px;

    content: '';

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #6f6f6f;
}
.loading-text
{
    font-size: 24px;

    margin-top: 100px;

    -webkit-animation: text 2s infinite alternate;
            animation: text 2s infinite alternate;
    text-align: center;

    color: #686551;
}
/* 第一页 */
.section-pageone
{
    position: relative;

    overflow: hidden;

    height: 100%;
    max-height: 100%;

    background: #b9aca5;
    background: -webkit-linear-gradient(250deg, #b9aca5, #f2fbff);
    background:         linear-gradient(200deg, #b9aca5, #f2fbff);
}
.header,
.name,
.job
{
    position: absolute;
}
.header
{
    z-index: 99;
    top: 25%;
    left: 0;

    width: 100%;
}
.isme
{
    width: 30%;
    padding: 2px;

    border: 1px solid #9da2a2;
    border-radius: 50%;
    box-shadow: 0 0 10px #6a6964;
}
.name p,
.job p
{
    margin: 0;
    padding: 0;
}
.name
{
    font-size: 20px;
    line-height: 70px;

    top: 50%;
    left: 20%;

    width: 70px;
    height: 70px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #bebebe;
}
.job
{
    font-size: 20px;
    line-height: 90px;

    top: 50%;
    right: 20%;

    width: 90px;
    height: 90px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #afb1be;
}
.active .header
{
    -webkit-animation: header 1.5s cubic-bezier(.68, -.55, .27, 1.55);
            animation: header 1.5s cubic-bezier(.68, -.55, .27, 1.55);
}
.active .name
{
    -webkit-animation: name 1.6s cubic-bezier(.68, -.55, .27, 1.55);
            animation: name 1.6s cubic-bezier(.68, -.55, .27, 1.55);
}
.active .job
{
    -webkit-animation: job 1.7s cubic-bezier(.68, -.55, .27, 1.55);
            animation: job 1.7s cubic-bezier(.68, -.55, .27, 1.55);
}

.next
{
    position: absolute;
    bottom: 5%;
    left: 50%;

    width: 50px;
    height: 28px;
    margin-left: -25px;

    cursor: pointer;
}
.next span
{
    position: relative;

    display: block;

    width: 50px;
    height: 14px;
}
.next span:before,
.next span:after
{
    position: absolute;
    top: 2px;

    display: block;

    width: 15px;
    height: 3px;

    content: '';

    background: #b9aca5;
}
.next span:before
{
    left: 12px;

    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
}
.next span:after
{
    right: 12px;

    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
}
.active .next
{
    -webkit-animation: nextpagetwo 1s ease-in-out infinite alternate;
            animation: nextpagetwo 1s ease-in-out infinite alternate;
}
/* 第二页 */
.section-pagetwo,
.section-pagethree
{
    position: relative;

    width: 100%;
    height: 100%;
    max-height: 100%;

    background: #ececec;
}
.page-title
{
    font-size: 30px;
    line-height: 1;

    display: inline-block;

    margin: 10% 0 0 0;
    padding: 0;
    padding: 10px;

    vertical-align: middle;

    color: #a19088;
    border-bottom: 4px solid #a19088;
}
.icon
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-right: 5px;

    vertical-align: middle;
}
.icon-user
{
    background: url('../img/User.png') center center no-repeat;
    background-size: 30px 30px;
}
.icon-skills
{
    background: url('../img/Tools.png') center center no-repeat;
    background-size: 30px 30px;
}
.per-list
{
    margin-top: 40px;
}
.per-list b
{
    letter-spacing: 4px;
}
.per-list li
{
    -webkit-transition: all 1s ease .3s;
            transition: all 1s ease .3s;

    opacity: .5;
}
.per-list li,
.per-list a
{
    font-size: 16px;

    padding: 8px 0;

    color: #a19088;
}
.per-list li:nth-child(1)
{
    -webkit-transform: translateY(-34px);
            transform: translateY(-34px);
}
.per-list li:nth-child(2)
{
    -webkit-transform: translateY(-68px);
            transform: translateY(-68px);
}
.per-list li:nth-child(3)
{
    -webkit-transform: translateY(-102px);
            transform: translateY(-102px);
}
.per-list li:nth-child(4)
{
    -webkit-transform: translateY(-136px);
            transform: translateY(-136px);
}
.per-list li:nth-child(5)
{
    -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
}
.per-list li:nth-child(6)
{
    -webkit-transform: translateY(-204px);
            transform: translateY(-204px);
}
.per-list li:nth-child(7)
{
    -webkit-transform: translateY(-238px);
            transform: translateY(-238px);
}
.per-list li:nth-child(8)
{
    -webkit-transform: translateY(-272px);
            transform: translateY(-272px);
}
.active .per-list li
{
    -webkit-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}
/* 雷达图 */
.radar-box
{
    position: relative;

    width: 200px;
    height: 200px;
    margin: 25% auto 0 auto;
}
.radar-box canvas
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}
.radar-box span
{
    font-size: 14px;

    position: absolute;

    margin: 0;
    padding: 0;

    -webkit-transition: opacity .5s ease 1.6s;
            transition: opacity .5s ease 1.6s;

    opacity: 0;
    color: #a19088;
}
.active .radar-box span
{
    -webkit-animation: bounceIn .75s 1.6s;
            animation: bounceIn .75s 1.6s;

    opacity: 1;
}
/* @keyframes */
@-webkit-keyframes light
{
    0%
    {
        -webkit-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }
    100%
    {
        -webkit-transform: rotateZ(-30deg);
                transform: rotateZ(-30deg);
    }
}
@keyframes light
{
    0%
    {
        -webkit-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }
    100%
    {
        -webkit-transform: rotateZ(-30deg);
                transform: rotateZ(-30deg);
    }
}
@-webkit-keyframes text
{
    0%,
    30%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    70%,
    100%
    {
        opacity: 0;
    }
}
@keyframes text
{
    0%,
    30%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    70%,
    100%
    {
        opacity: 0;
    }
}
@-webkit-keyframes shadow
{
    0%
    {
        box-shadow: 0 0 60px #fff582;
    }
    50%
    {
        box-shadow: 0 0 100px #fff582;
    }
    100%
    {
        box-shadow: 0 0 60px #fff582;
    }
}
@keyframes shadow
{
    0%
    {
        box-shadow: 0 0 60px #fff582;
    }
    50%
    {
        box-shadow: 0 0 100px #fff582;
    }
    100%
    {
        box-shadow: 0 0 60px #fff582;
    }
}

@-webkit-keyframes header
{
    0%
    {
        top: 100%;
    }

    100%
    {
        top: 25%;
    }
}

@keyframes header
{
    0%
    {
        top: 100%;
    }

    100%
    {
        top: 25%;
    }
}
@-webkit-keyframes name
{
    0%
    {
        top: 100%;
    }

    100%
    {
        top: 50%;
    }
}
@keyframes name
{
    0%
    {
        top: 100%;
    }

    100%
    {
        top: 50%;
    }
}
@-webkit-keyframes job
{
    0%
    {
        top: 100%;
    }

    100%
    {
        top: 50%;
    }
}
@keyframes job
{
    0%
    {
        top: 100%;
    }

    100%
    {
        top: 50%;
    }
}
@-webkit-keyframes nextpagetwo
{
    0%
    {
        bottom: 7%;
    }
    100%
    {
        bottom: 9%;
    }
}
@keyframes nextpagetwo
{
    0%
    {
        bottom: 7%;
    }
    100%
    {
        bottom: 9%;
    }
}
@-webkit-keyframes bounceIn
{
    from,
    20%,
    40%,
    60%,
    80%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    0%
    {
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);

        opacity: 0;
    }

    20%
    {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
    }

    40%
    {
        -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
    }

    60%
    {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
                transform: scale3d(1.03, 1.03, 1.03);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: scale3d(.97, .97, .97);
                transform: scale3d(.97, .97, .97);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);

        opacity: 1;
    }
}

@keyframes bounceIn
{
    from,
    20%,
    40%,
    60%,
    80%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    0%
    {
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);

        opacity: 0;
    }

    20%
    {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
    }

    40%
    {
        -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
    }

    60%
    {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
                transform: scale3d(1.03, 1.03, 1.03);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: scale3d(.97, .97, .97);
                transform: scale3d(.97, .97, .97);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);

        opacity: 1;
    }
}
